@model PhoneBook

@{
	ViewBag.Title = "Вся информация";
	Layout = "_Layout";
}

<div class="m-1 p-1">
	<form asp-action="@(ViewBag.CreateModel ? "Create" : "Edit")" method="post" class="mt-2 form-check">
		<div class="mb-2 row">
			<label class="col" asp-for="Id">Номер :</label>
			<div class="col-10">
				<input class="form-control" asp-for="Id" readonly />
			</div>
		</div>
		<div class="mb-2 row">
			<label class="col" asp-for="Surname">Фамилия :</label>
			<div class="col-sm-10">
				<input class="form-control" asp-for="Surname" />
			</div>
		</div>
		<div class="mb-2 row">
			<label class="col" asp-for="Name">Имя :</label>
			<div class="col-sm-10">
				<input class="form-control" asp-for="Name" />
			</div>
		</div>
		<div class="mb-2 row">
			<label class="col" asp-for="Patronymic">Отчество :</label>
			<div class="col-10">
				<input class="form-control" asp-for="Patronymic" />
			</div>
		</div>
		<div class="mb-2 row">
			<label class="col" asp-for="PhoneNumber">Номер телефона :</label>
			<div class="col-10">
				<input class="form-control" asp-for="PhoneNumber" />
			</div>
		</div>
		<div class="mb-2 row">
			<label class="col" asp-for="Adress">Адрес :</label>
			<div class="col-10">
				<input class="form-control" asp-for="Adress" />
			</div>
		</div>
		<div class="mb-2 row">
			<label class="col" asp-for="Description">Описание :</label>
			<div class="col-10">
				<input class="form-control" asp-for="Description" />
			</div>
		</div>
		<div class="text-center mt-3">
			<button type="submit" class="btn btn-primary">Сохранить</button>
			<a asp-action="Index" class="btn btn-secondary">Отмена</a>
		</div>
	</form>
</div>