@{
	ViewBag.Title = "Не доступно";
	Layout = "_Layout";
}

<div class="bg-danger mb-1 p-2 text-white"><h4>В доступе отказано</h4></div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Ok</a>
